<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.admin1.firstlogin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CustomerUI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".signUpActivity" android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name=".BusinessUser"
            android:label="BusinessUser" />
        <!--<activity android:name=".activity_customer_home2" />
        -->
        <activity android:name=".navigationbar"/>
        <activity android:name=".profile_page"/>
        <activity android:name=".LearnMore"/>
    </application>

</manifest>